<div id="center layout-overview">
  <div class="ui centered steps ">
    <div class="active step">
      <i class="building icon"></i>
      <div class="content">
        <div class="title">Tạo tòa nhà</div>
        <div class="description">Tạo tòa nhà mới hoặc nhập từ file</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="block layout icon"></i>
      <div class="content">
        <div class="title">Tạo mặt bằng</div>
        <div class="description">Tạo mặt bằng mới hoặc nhập từ file</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="user icon"></i>
      <div class="content">
        <div class="title">Tạo cư dân</div>
        <div class="description">Tạo cư dân mới hoặc nhập từ file</div>
      </div>
    </div>
  </div>
</div>
<br>
