<div class="ui segment">
  <h2 class="ui header">
    <i class="building icon"></i>
    <div class="content">
      Nhập dữ liệu tòa nhà
    </div>
  </h2>
  <div id="importfilebuildingspace">
    <%= render "building_import" %>
  </div>
</div>
