<div class="ui one column middle aligned very relaxed stackable grid">
  <div class="center aligned column">
    <div class="ui form">
      <div class="ui big green labeled icon button">
        <i class="strikethrough icon"></i>
        <%= link_to "Chốt sổ tháng #{Date.today.last_month.month}",
          close_finances_payment_index_path, style: "color: white" %>
      </div>
    </div>
  </div>
</div>
