<div id="center layout-overview">
  <div class="ui centered steps ">
    <div class="active step">
      <i class="building icon"></i>
      <div class="content">
        <div class="title">Chọn căn hộ</div>
        <div class="description">Chọn một căn hộ và các dịch vụ muốn thanh toán</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="dollar icon"></i>
      <div class="content">
        <div class="title">Thanh toán</div>
        <div class="description">Kiêm tra số tiền và thanh toán</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="fax icon"></i>
      <div class="content">
        <div class="title">Xuất hóa đơn</div>
        <div class="description">Xuất hóa đơn thanh toán</div>
      </div>
    </div>
  </div>
</div>
<br>
