  <div id = "inputwaterspace">
    <div class="ui segment">
      <div class="ui middle aligned very relaxed stackable grid">
        <div class="column">
          <%= render partial: "closefinances" %>
        </div>
      </div>
    </div>
  </div>
