<div class="ui segment">
  <h2 class="ui header">
    <i class="theme icon"></i>
    <div class="content">
      Nhập chỉ số nước
    </div>
  </h2>
  <div id="importfilebuildingspace">
    <%= render "importwaternum" %>
  </div>
</div>
