$('#facility_success').modal("show");
var form = document.getElementById("facilityform");
form.reset();
$('.field').each(function(){
$('.help-block').html('');
$('.help-block').removeClass('ui red message');
});
