<div class="ui two column middle aligned very relaxed stackable grid">
  <div class="center aligned column">
    <div class="ui form">
      <%= form_tag import_citizen_card_setcitizen_index_path, multipart: true,
          remote: true, id: "import_citizencard" do %>
        <span class="ui big blue labeled icon button fileinput-button">
          <i class="upload icon"></i>
          <span>Nhập thẻ cư dân từ file</span>
          <%= file_field_tag :file, class: "input-group btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div>
 <!--  <div class="ui vertical divider">
   Or
 </div> -->
  <div class="center aligned column">
    <div class="ui big green labeled icon button">
      <i class="cloud download icon"></i>
      <%= link_to "Tải file mẫu danh sách mặt bằng",
          export_citizen_card_setcitizen_index_path( {format: 'xls'} ), style: "color: white" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#import_citizencard").fileupload({
    dataType: "script"
  });
</script>

