<div class="ui segment">
  <h2 class="ui header">
    <i class="block layout icon"></i>
    <div class="content">
      Nhập dữ liệu thẻ cư dân
    </div>
  </h2>
  <div id="importfilecitizencard">
    <%= render "citizencardimport" %>
  </div>
</div>
