<div class="ui segment">
  <h2 class="ui header">
    <i class="users icon"></i>
    <div class="content">
      Nhập dữ liệu cư dân
    </div>
  </h2>
  <div id="importfilegroundspace">
    <%= render "citizenimport" %>
  </div>
</div>
