<div class="ui segment">
  <div class="ui middle aligned very relaxed stackable grid">
    <div class="column">
      <%= render partial: "groundowner", locals: {ground: @ground} %>
    </div>
  </div>
</div>
