<div class="ui segment">
  <h2 class="ui header">
    <i class="block layout icon"></i>
    <div class="content">
      Nhập dữ liệu mặt bằng
    </div>
  </h2>
  <div id="importfilegroundspace">
    <%= render "groundimport" %>
  </div>
</div>
