<div class="ui vertical steps">
  <div class="active step" id="step1_overview">
    <i class="options icon"></i>
    <div class="content">
      <div class="title">Bước 1. Thiết lập tài chính</div>
      <div class="description">Thiết lập tài chính để tính phí</div>
    </div>
  </div>

  <div class="disabled step" id="step2_overview">
    <i class="building icon"></i>
    <div class="content">
      <div class="title">Bước 2. Nhập tòa nhà</div>
      <div class="description">Nhập tòa nhà từ file excel</div>
    </div>
  </div>

  <div class="disabled step" id="step3_overview">
    <i class="block layout icon"></i>
    <div class="content">
      <div class="title">Bước 3. Nhập mặt bằng</div>
      <div class="description">Nhập mặt bằng từ file excel</div>
    </div>
  </div>

  <div class="disabled step" id="step4_overview">
    <i class="users icon"></i>
    <div class="content">
      <div class="title">Bước 4. Nhập cư dân</div>
      <div class="description">Nhập cư dân từ file excel</div>
    </div>
  </div>
</div>

<div class="center aligned column" id="back_div">

</div>

