<div class="row">
  <div class="col-md-12 center-block text-center">
    <h1 style="color: green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Thiết lập thành công</h1>
    <h4>Bạn đã thiết lập thành công thông tin chung cư, đã có thể thực hiện các chức năng của của trang web</h4>
    <h4>Bạn có thể quay lại trang dashboard ngay <%= link_to 'tại đây', dashboard_index_path %></h4>
  </div>
</div>
