<div class="row">
  <div class="col-md-12 center-block text-center">
    <h1 style="color: green"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Đăng ký thành công</h1>
    <h4>Bạn đã đăng ký thành công chung cư, vui lòng vào mail để xác nhận</h4>
  </div>
</div>
