<div class="ui segment">
  <h2 class="ui header">
    <i class="block layout icon"></i>
    <div class="content">
      Nhập dữ liệu thẻ xe
    </div>
  </h2>
  <div>
    <%= render "vehicle_card_import" %>
  </div>
</div>
