<div class="sidebar" data-color="blue" data-image="london.jpg">
  <div class="sidebar-wrapper">
    <div class="logo"><a class="simple-text" href="/">Quản Lý<br>Chung Cư</a></div>
    <ul class="nav">
      <li ><a class="simple-text" href="<%= towers_path %>" ><i class="building outline icon"></i>Chung cư</a></li>
      <li ><a class="simple-text" href="<%= admin_change_password_path %>" ><i class="user icon"></i>Đổi mật khẩu</a></li>
    </ul>
  </div>
  <div class="sidebar-background"></div>
</div>
