<nav class="navbar navbar-default navbar-fixed">
   <div class="container-fluid">
      <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navigation-example-2" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
      <span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to " Quản lí chung cư", towers_path  %></li>
            <% if admin_logged_in? %>
              <li><%= link_to " Đăng-xuất", admin_logout_path, method: :delete %></li>
            <% end %>
         </ul>
      </div>
   </div>
</nav>
